*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


a{
    font-size: 1.6rem;
    color: blue;
    text-decoration: none;
    font-weight: 800;
    transition: 1s;
}

a:hover{
    color: rgb(80, 80, 80);
    transform: scale(1.5);
}
