*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}



div{
    width: 60%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid black;
    animation: changeborder 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;

    background: none;

}


input{
    padding: 8px 14px; 
    border: 2px solid black;
    border-radius: 4.5px;

}


button{
    padding: 8px 50px;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 0.9rem;
    background-color: red;
    transition: 0.5s;

}


button:hover{
    background-color: green;
}