*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(N-Time\ Watches.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}


h1{
    color: black;
    font-size: 3rem;
    font-weight: 800;
}