*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Barlow Semi Condensed";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.parent{
    width: 85%;
    height: 85%;
    background:none;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    gap: 20px;
}

.child_1{
    grid-column-start: span 2;
    background-color: hsl(263, 55%, 52%);
    border-radius: 6.5px;
    display: grid;
    grid-template-rows: 25% repeat(2, 33%);
    padding: 20px 20px 20px 35px;
}


.box{
    width: 100%;
    height: 100%;
    background:none;
    display: grid;
    grid-template-columns: 10% 20% 30% 15% ;
    grid-template-rows: 50% 50%;
    padding: 10px
}

.image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid hsl(214, 17%, 92%);
}
/* 

.image_1{
    position: relative;
    grid-column: 4;
    bottom: 35.5px;
} */


.p1{
    font-weight: 500;
    font-size: 1rem;
    color: hsl(214, 17%, 92%);

}


.p2{
    /* padding: 2px 0px ; */
    grid-column: 2;
    font-size: 0.8rem;
    color: hsl(0, 0%, 81%)
}

.h1{
    width: 100%;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

.p3{
    color:hsl(0, 0%, 81%);
    line-height: 22px;
    font-weight: 500;
}

.child_2{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: hsl(217, 19%, 35%);
    display: grid;
    grid-template-rows: 20% 30% 30%;
    padding: 30px;
    gap: 10px;
}

.box_1{
    width: 100%;
    height: 100%;
    background:none;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 50% 50%;
    padding: 10px 0px;
    
}


.box_1 p{
    padding: 2px 15px 
}
.p4{
    
    grid-column: 2;
    font-size: 0.8rem;
    color: hsl(0, 0%, 81%);
   
}

.child_3{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 50px 80px hsla(224, 10%, 45%, 0.692);
    border-radius: 6px;
    display: grid;
    grid-row-start: span 2;
    grid-template-rows: 12% 18% 55%;
    padding: 25px 25px 25px 35px;
}

.box_2{
    width: 100%;
    height: 100%;
    background:none;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 30%;
    align-items: center;
    padding: 10px 10px 10px 0px; 
}


.image{
    grid-row: span 2;
}

.p6{
    font-weight: 500;
    font-size: 1rem;
    color: black;

}
.p7{
    /* padding: 2px 0px ; */
    grid-column: 2;
    font-size: 0.9rem;
    color: hsl(219, 29%, 14%)
}

.h5{
    width: 100%;
    font-size: 1.4rem;
    color: black;
    font-weight: 600;
    line-height: 29px;
}


.p8{
    font-weight: 500;
    font-size: 1rem;
    color: hsl(217, 19%, 35%);
    line-height: 21.5px;
}

.child_4{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: white;
    display: grid;
    grid-template-rows: 20% 30% 30%;
    padding: 30px;
    gap: 10px;
    box-shadow: 0px 50px 80px hsla(224, 10%, 45%, 0.692);

}




.child_5{
    grid-column-start: span 2;
    background-color: hsl(219, 29%, 14%);
    border-radius: 6.5px;
    display: grid;
    grid-template-rows: 25% repeat(2, 33%);
    padding: 20px 20px 20px 35px;
}