*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.parent{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 15px;
    animation-name: changeColor;
    animation-duration: 2s;
}


@keyframes changeColor {
    from{
        background-color: red;
    }
    to{
        background-color: blue;
    }
}