*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    width: 200px;
    height: 200px;
    animation-name: scale;
    background-color: blue;
    border-radius: 10px;
    animation-duration: 2s;
}


@keyframes scale {
    from{
        transform: scale(2);
    }
    to{
        transform: scale(-2);
    }
}